* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

:root {
  --primary-color: #85ce54;
}

body {
  margin-top: 50px;
  margin-bottom: 0;
  background-image: url("/images/picture.png");
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  text-transform: capitalize;
}

button {
  padding: 10px 20px;
  border-radius: 25px;
  background: var(--primary-color);
  color: white;
  border: none;
}

footer {
  border: 1px solid none;
  background: var(--primary-color);
  padding: 45px 0 30px;
  margin-top: 50px;
  text-align: center;
  color: white;
}

footer i {
  color: white;
  padding: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
a {
  padding-top: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name {
  opacity: 0.5;
}
.email-content {
  position: relative;
  left: 70px;
}

.email-template-container {
  background: white;
  border: 1px solid none;
  border-radius: 20px;
  max-width: 630px;
  margin: 20px auto;
  padding: 20px 0 90px 0;
}
.special-text {
  color: var(--primary-color);
  display: block;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
.closing-remark {
  display: block;
  margin-top: 90px;
  margin-bottom: -70px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .special-text {
    padding-bottom: 9px;
  }
  .closing-remark {
    padding-top: 0;
  }
  .email-template-container {
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .email-template-container {
    border-radius: 20px;
    max-width: 320px;
    padding: 20px 40px 20px 40px;
  }
  .email-content {
    position: relative;
    left: 20px;
  }
  .closing-remark {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 395px) {
  h1 {
    font-size: 30px;
    margin-bottom: 9px;
    padding-bottom: 9px;
  }
  button {
    padding: 5px 10px;
  }
  .email-template-container {
    border-radius: 20px;
    max-width: 300px;
    padding: 20px 30px 20px;
    border: 1px solid var(--primary-color);
  }
  .email-content {
    position: relative;
    left: 9px;
  }
  .special-text {
    padding: 1px 0 2px 0;
    font-size: 15px;
  }
  .closing-remark {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
  }
  footer {
    padding: 45px 0 50px;
  }
  body {
    background-image: none;
  }
}
